<h1>Hi <%= @user.full_name %> </h1>

<h2>Create Car:</h2>

<form action="create" method="get">
  <input type="text" name="make" placeholder="Make" >
  <input type="text" name="model" placeholder="Model" >
  <input type="text" name="year" placeholder="Year" >
  <input type="color" name="color" placeholder="Color" >
  <input type="submit" value="Simulate Car">
</form>
